<div id="eventsSelectionPage" class="pink-on-yellow content-section">

    <div class="lavReg row hugeText padding-bottom-20">
        Create Guest
    </div>

    <%= semantic_form_for @guest, url: {action: 'create'} do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email_address %>
        <%= f.actions do %>
            <%= f.action :submit, :as => :button %>
            <%= f.action :cancel, :as => :link %>
        <% end %>
    <% end %>
</div>
