<div class="pea banner" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="edwardian row">
            <div class="col-md-12">Palak & Jared</div>
        </div>
        <div class="edwardian row">
            September 26th, 2015
        </div>

        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-8">
                <button type="button" class="btn btn-default purple mynavigation" onclick=scrollToId("#the_couple")>The
                    Couple
                </button>
                <button type="button" class="btn btn-default teal mynavigation" onclick=scrollToId("#wedding_party")>Wedding
                    Party
                </button>
                <button type="button" class="btn btn-default glitter mynavigation" onclick=scrollToId("#wedding_events")>Wedding
                    Events
                </button>
                <button type="button" class="btn btn-default white mynavigation" onclick=scrollToId("#accommodations")>Accommodations</button>
                <button type="button" class="btn btn-default blue mynavigation" onclick=scrollToId("#registry")>Registration</button>
            </div>


        </div>
    </div>
</div>

<div id="the_couple" class="purple content-section">
    <div class="row ">
        <div class="row ">

            <h1 class="text-center myheading">The Couple</h1>


        </div>
        <div class="col-md-1"></div>
        <div class='col-md-5'>
            <h2 class="text-center myheading">About the Bride</h2>
            <%= image_tag "lips.png" %>
            <p>Palak was born in New Jersey and raised in the suburbs outside of Atlanta, GA. After high school, she
                moved to Los Angeles, CA to attend the University of Southern California. Upon graduation, Palak began
                her legal career working at a large law firm. After two years of work, she decided it was time to get
                her law degree. Palak graduated with a J.D. from The George Washington University Law School in
                Washington, D.C. and began working in-house at large companies in the area. Her most recent position
                brought her to Seattle, WA.
                Palak's favorite pastimes include spending time with her amazing friends, reading, and crafting.</p>

            <p>Palak's favorite pastimes include spending time with her amazing friends, reading, and
                crafting.</p>
        </div>
        <div class='col-md-5 '>
            <h2 class="text-center myheading">About the Groom</h2>
            <%= image_tag "mustache.png" %>
            <p>Jared was born and raised in Columbus, Ohio. After high school, he remained in Columbus to attend Ohio
                State University. During his final year of undergrad, Jared was offered a position as a defense
                contractor in Washington, D.C., so he embarked on his journey to the nation's capital shortly after
                graduation. After two years of work, Jared decided to pursue a masters degree in his newest passion,
                software engineering. During this schooling, Jared began working at a start-up in the area. His new
                experience and education made him particularly desirable to many companies, and shortly after, he was
                offered an amazing opportunity in Seattle, WA. Jared continued his education and received a masters
                degree from the Johns Hopkins University in May 2014.
                Jared’s favorite pastimes include programming, bicycling, and working out.</p>

            <p>Jared's favorite pastimes include programming, bicycling, and working out.</p>
        </div>
    </div>

    <div class='row'>

        <div class='col-md-1'>
        </div>

        <div class='col-md-10'>
            <h1 class="text-center myheading">Our Story</h1>
            Palak and Jared met in Washington, D.C. where they began their relationship. After two and half years of
            dating, the couple decided to move to Seattle, WA to further their careers. With nearly three years of
            dating under their belts, Jared decided it was time to pop the question. A year prior to the proposal, Jared
            had secretly requested Palak's parents' blessing for her hand. In the months leading up to the proposal,
            Jared worked with Palak's friends to develop a proposal she was sure to say yes to. While visiting Los
            Angeles over labor day weekend, Jared proposed to Palak on the beach in Santa Monica, just after sunset,
            with the lights of the Santa Monica pier and ferris wheel providing a picturesque backdrop. He had hired a
            plane with an LED bottom to fly around the beach and water scrolling the following, "Palak Shah, will you
            marry me? <3 <3 <3." As they began walking onto the sand, Jared pointed up into the sky and asked her to
            look up. Tears filled her eyes when she finally realized what was happening. With her friends cheering them
            on, Jared got down on one knee, presented Palak with a gorgeous ring, and asked her to marry him. She said
            yes, of course.
        </div>
    </div>
</div>

<div id="wedding_party" class="teal content-section">

    <div class="row ">
        <h2 class="text-center myheading"> Wedding Party </h2>
    </div>
    <div class="row ">
        <div class="col-md-1"></div>
        <div class='col-md-5'>
            <h2 class="text-center myheading">Bridesmaids</h2>

            <div class="row">
                <div class="col-md-2">
                    <%= image_tag "Purvi 3.jpg", class: "bridesmaidsAndGroomsMenPhotos" %>
                </div>
                <div class="col-md-10    ">
                    Purvi Shah (Maid of Honor): Purvi is Palak’s cousin; of the bridesmaids, Purvi and Palak go
                    back the
                    longest - they’ve known each other since Purvi was born. Over the years, Palak and Purvi
                    grew close and
                    have the relationship of sisters. Purvi lives in Corona, CA and is a dentist.

                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-md-2">
                    <%= image_tag "Martha-final.jpg", class: "bridesmaidsAndGroomsMenPhotos" %>
                </div>
                <div class="col-md-10    ">
                    Martha Suarez: Martha and Palak met at the beginning of their freshman year of college at
                    USC. They
                    lived on the same floor - Century’s C-wing and grew close immediately. They became roommates
                    during
                    their sophomore year at USC and remained roommates until after graduating. During college,
                    Martha and
                    Palak were inseparable - spending a mere 24 hours apart resulted in them staying up all
                    night talking.
                    Martha lives in Fullerton, CA and is a lawyer.

                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-md-2">
                </div>
                <div class="col-md-10    ">
                    Vanessa Au: Vanessa and Palak met at work, when they both worked at Paul Hastings. Palak was
                    a paralegal
                    and Vanessa, her supervisor, an attorney. The two commiserated over the long hours,
                    workload, and a
                    shared bitterness toward upper management. They would often call each other from their
                    respective
                    offices and leave the line open for hours with the speakerphone on, just to be able to talk
                    if they
                    wanted. In 2013, Palak and Vanessa traveled to Turkey together. Vanessa lives in Los
                    Angeles, CA and is
                    a lawyer.

                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-md-2">
                    <%= image_tag "Seena.jpg", class: "bridesmaidsAndGroomsMenPhotos" %>
                </div>
                <div class="col-md-10">
                    Seena Bakke: Like Martha, Seena and Palak met at the beginning of their freshman year at
                    USC, again in
                    Century’s C-wing. They too became roommates sophomore year. A favorite pastime Palak and
                    Seena shared
                    during their time in LA was their Sunday ritual of cooking and watching reality television.
                    After
                    graduating, Seena spent a few years teaching in Iraq. Now, she lives in Syracuse, NY and is
                    the mother
                    of Noah and a soon to be born baby.
                    Ami Shah: Ami and Palak are childhood friends who have known each other so long that neither
                    can
                    remember how they first met. While they haven’t lived in the same state in over a decade,
                    the two keep
                    in touch with long, frequent phone calls. Ami lives in Atlanta, GA is a Public Health
                    Analyst at the
                    CDC.

                </div>
            </div>
        </div>

        <div class='col-md-5'>

            <h2 class="text-center myheading"> Groomsmen</h2>

            <div class="row top-buffer">
                <div class="col-md-2">
                    <%= image_tag "Kyle.jpg", class: "bridesmaidsAndGroomsMenPhotos rotate" %>
                </div>
                <div class="col-md-10">
                    Kyle Stemen (Best Man): Kyle is Jared’s brother. He, like Jared, is a software developer in
                    Seattle.
                    Kyle
                    is married and has a two year old daughter named Evelyn.
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-md-2">
                    <%= image_tag "Kevin.jpg", class: "bridesmaidsAndGroomsMenPhotos" %>
                </div>
                <div class="col-md-10 ">
                    Kevin O’Sullivan: Kevin is Jared’s childhood friend.
                </div>
            </div>


            <div class="row top-buffer">
                <div class="col-md-2">
                    <%= image_tag "Ryan.JPG", class: "bridesmaidsAndGroomsMenPhotos rotate" %>
                </div>
                <div class="col-md-10">
                    Ryan Stemen: Ryan is Jared’s cousin. The two were born just one week apart!
                </div>
            </div>

            <div class="row top-buffer">
                <div class="col-md-2">
                    <%= image_tag "Yogi.jpg", class: "bridesmaidsAndGroomsMenPhotos" %>
                </div>
                <div class="col-md-10">
                    Yogi Shah: Yogi is Palak’s brother. He endeavors to become a doctor in the future.
                </div>
            </div>

        </div>

    </div>
</div>
<div id="wedding_events" class="glitter content-section">

    <div class="row">
        <h2 class="text-center myheading">Wedding Events</h2>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 class="text-center"><h3>Mehndi:</h3></h2>
            <p>The Mehndi event is a colorful celebration held a few nights before the wedding, which is
                traditionally
                celebrated by the women on the bride's side of the family. Generally, a professional mehndi
                artist
                or
                relative will apply henna in intricate designs to the hands and feet of the bride and other
                women in
                the
                family. These intricate designs symbolize joy, beauty, spiritual awakening and offering. Guests
                create a
                festive atmosphere by dressing in bright colors, singing traditional wedding songs, and dancing
                to
                popular music. This event will take place at Palak’s parents’ house on Thursday, September 24th
                at
                4:00pm.</p>

            <h2 class="text-center"><h3>Vidhi:</h3></h2>
            <p>The pithi ceremony is an auspicious ritual performed for good luck. Pithi is a paste made mainly
                of
                turmeric, chickpea flour and rose water. Family members and well-wishers of the bride apply the
                paste on
                the bride's skin. This yellow paste is thought to brighten and even the skin tone and is applied
                on
                one
                of the days prior to the wedding ceremony. This event will take place at Palak’s parents’ house
                on
                Friday, September 25th at 4:00pm.</p>

            <h2 class="text-center"><h3>Wedding Day, September 26, 2015</h3></h2>
            <ul>
                <li>Baraat (The Groom's Procession): Accompanied by his family and friends in a festive
                    procession
                    known
                    as the baraat, the groom arrives at the entrance of the wedding venue on a horse. The
                    procession
                    consists of his family and friends singing and dancing around him to music generally played
                    by a
                    professional dhol (large bass drum) player. The baraat is met by the bride's family at the
                    entrance
                    to the wedding venue. Jared’s baraat will begin promptly at 3:00pm.
                </li>
                <li>The ceremony will begin at 4:00pm. To learn about the ceremony and our wedding, check out
                    this
                    guide
                    we put together: link to Non-Indian’s guide.
                </li>
                <li>Dinner 7:30pm</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div id="accommodations" class=" white content-section">

    <div class="row">
        <h2 class="text-center myheading">Accommodations</h2>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            Maecenas eleifend justo et purus cursus, in pretium turpis ultricies. Sed vulputate erat a sapien
            auctor,
            commodo feugiat ex iaculis. Curabitur imperdiet suscipit malesuada. Donec feugiat maximus ex, id
            elementum
            ipsum fermentum at. Aenean faucibus risus turpis, vel eleifend risus ultricies sit amet. Ut eu
            tortor
            urna.
            Praesent enim lorem, tristique non nulla ut, pretium ultricies ex. Curabitur quam augue, commodo ut
            dui
            a,
            posuere consequat lorem. Vestibulum ac sapien laoreet, interdum tellus in, scelerisque lectus.
            Nullam
            mauris
            lacus, fringilla quis vestibulum quis, cursus vitae ex.

            Duis semper eleifend nunc quis faucibus. Nunc at justo vel augue posuere tristique pretium a sapien.
            Nulla
            ut diam magna. Ut magna arcu, lobortis a augue eget, mattis tempor mi. Aliquam id metus et lectus
            vehicula
            tristique. Praesent consequat, lectus quis dictum sollicitudin, neque tellus aliquam elit, sed
            tincidunt
            felis magna vel justo. Duis vulputate dui ac urna laoreet ultricies. Nunc accumsan ut purus vel
            sagittis.

            In hendrerit enim eget turpis imperdiet, et aliquet ligula venenatis. Aenean ut sem et diam feugiat
            maximus
            nec in velit. Aliquam mollis tristique mauris, eget tincidunt lorem vestibulum in. Integer vel
            pulvinar
            dolor. Etiam vitae tempus lorem, quis luctus magna. Sed augue ipsum, auctor eu neque non, sodales
            dictum
            nisi. Nam pharetra ut mi ut pharetra. Maecenas posuere ipsum sed nulla eleifend, at pellentesque
            purus
            cursus. Vestibulum efficitur tincidunt tellus nec sagittis. Aliquam cursus tellus mi, eu interdum
            ante
            volutpat ac. Praesent vulputate enim risus, malesuada tristique justo rhoncus et. Cras nec fermentum
            nisi.
            Vivamus tincidunt id nisl non cursus. Vestibulum quis nulla at est bibendum blandit ac quis mi.
            Morbi eu
            tincidunt magna.
        </div>
        <div class="col-md-1"></div>
    </div>

</div>


<div id="registry" class=" blue content-section ">

    <div class="row ">
        <h1 class="text-center myheading">
            Other Information
        </h1>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 class="text-center"><h3>Registry:</h3></h2>
            <p></p>Traditionally, guests at Indian weddings give gifts of cash or gold. For those who would
            rather
            not
            participate in this tradition, Palak and Jared have registered for a small number of items at
            <a href="http://www.amazon.com/gp/registry/wedding/1ERDEUJY4VYFD">Amazon</a>.
            </p>

        </div>
        <div class="col-md-1"></div>
    </div>

</div>


