<div id="confirmationPage" class="yellow-on-pink">
    <div class="lavReg row hugeText padding-bottom-20">
        Confirmation
    </div>

    <div class="row no-list-style padding-bottom-20">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div>
                You have indicated the following:
            </div>
            <ul>
                <div class="padding-top-20 padding-bottom-20">
                    <% @invitation_group.invitations.group_by(&:event).each { |key, values| %>

                        <li>
                            <b> <%= "#{key.name}:" %>  </b>
                            <%= "#{print_attending values} attending" %>
                        </li>
                    <% } %>
                </div>
            </ul>
            <div>
                Is this correct?
            </div>


            <div class="padding-top-20 padding-bottom-20">
                <%= semantic_form_for @invitation_group do |f| %>
                    <%= f.input :is_confirmed, :as => :hidden %>
                    <%= f.action :submit, :label => "Confirm", :button_html => {:id => 'confirmRsvp', :class => "red-on-gold btn"} %>
                <% end %>
                <%= link_to 'Back', link_guests_to_events_path(:code => @invitation_group.code) %>
            </div>

            <div>
                Your RSVP will not be received until you click "Confirm"
            </div>

        </div>
    </div>
</div>