<div class="red-on-gold">
    <div class="padding-top-20">
        <h3>Total Invitation Group Count: <%= InvitationGroup.count %></h3>

        <h3>Total Finalized Invitation Group Count: <%= InvitationGroup.where(is_confirmed: true).count %></h3>
    </div>
    <table>
        <thead>
        <td>
            All Names in Invitation Group
        </td>
        <td>
            RSVP Code
        </td>
        <td>Last Mod Date</td>
        <td>Is Finalized</td>
        <% event_toc_count_map = {} %>
        <% Event.all.each { |eve| %>
            <% event_toc_count_map[eve.name] = 0 %>
            <td>
                <%= eve.name %>
            </td>
        <% } %>


        </thead>
        <% @invitation_groups.each { |inv| %>
            <tr>
                <td>
                    <%names = inv.guest_names %>
                    <%names = 'empty' if names.empty? %>
                    <%= link_to names, edit_invitations_path(inv) %>
                </td>
                <td>
                    <%= inv.code %>
                </td>
                <td>
                    <%= inv.updated_at %>
                </td>
                <td>
                    <%= inv.is_confirmed %>
                </td>
                <% Event.all.each { |eve| %>
                    <td>
                        <%= accepted_attends = inv.accepted_attends_for(eve)
                            event_toc_count_map[eve.name] += accepted_attends.size
                            accepted_attends.collect { |g| g.full_name }.join ',' %>
                    </td>
                <% } %>
            </tr>
        <% } %>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                Total
            </td>
            <% Event.all.each { |eve| %>
                <td>
                    <%= event_toc_count_map[eve.name] %>
                </td>
            <% } %>
        </tr>
    </table>
    <%= form_for @new_invitation_group, url: { action: "create" } do |f| %>
        <div>
            <%= f.hidden_field :code%>
            <%= f.submit "Create new Invtation Group" %>
        </div>
    <% end %>
</div>