<div id="eventsSelectionPage" class="yellow-on-pink content-section">
    <div class="lavReg row hugeText padding-bottom-20">
        RSV P
    </div>

    <% if @invitation_group.is_confirmed %>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="alert alert-info">
                    We have already received your RSVP. Please contact palakandjared@gmail.com, or call Veena at 678-232-4506 with any questions.
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>
    <% else %>
        <div class="row no-list-style padding-bottom-20">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div>
                    Please select which guests will be attending each event.
                </div>
                <%= semantic_form_for @invitation_group do |f| %>

                    <% last_event = nil %>
                    <%= f.semantic_fields_for :invitations do |invitation| %>
                        <% event = invitation.object.event %>
                        <h1 class="myheading">
                            <%= "#{event.name} - #{event.time.strftime("%A %B %d, %Y ")}" unless event == last_event %>
                            <% last_event = event %>
                        </h1>

                        <div class="names">
                            <%= invitation.input :is_accepted, label: invitation.object.guest.full_name %>
                        </div>
                    <% end %>

                    <%= f.action :submit, :label => "Save Guest Selections", :button_html => {:id => 'submitSaveGuestSelections', :class => "red-on-gold btn"} %>
                <% end %>

            </div>
        </div>
    <% end %>
</div>
