<p id="notice"><%= notice %></p>

<div class="gold-on-red">
    <div class="lavReg row hugeText">
        RSVP
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div>
                Please select which guests will be attending each event.
            </div>
            <%= semantic_form_for @invitation_group do |f| %>

                <%= f.semantic_fields_for :invitations do |invitation| %>
                    <h1 class="myheading">
                        <%= "#{invitation.object.event.name} - #{invitation.object.event.time.strftime("%A %B %d, %Y ")}" %>
                    </h1>

                    <div class="names">
                        <%= invitation.input :guests, :as => :check_boxes, :collection => @invitation_group.guests, :label => false %>
                    </div>
                <% end %>

                <%= f.actions %>
            <% end %>

        </div>
    </div>
</div>