<p id="notice"><%= notice %></p>


<%= form_for @invitation_group do |f| %>

    <%= f.fields_for :guests do |guest_form| %>
            <%= guest_form.hidden_field :first_name%>
            <%= guest_form.hidden_field :last_name %>
    <% end %>
    
    Events:
    <ul>
        <% @invitation_group.invitations.each { |invitation| %>
            <%= f.fields_for invitation do |invitation_form| %>
                <li>

                    <%= "#{invitation.event.name} - #{invitation.event.time} " %>
                        <p>
                            <%= invitation_form.select :guest_ids, invitation.invitation_group.guests.collect {|x| [x.full_name, x.id]}, {}, :multiple => true, index: invitation.id %>

                        </p>
                </li>
            <% end %>
        <% } %>
    </ul>
    <%= f.submit %>
<% end %>

