<p id="notice"><%= notice %></p>



Please select which guests will be attending which events.

Events:
<%= semantic_form_for @invitation_group do |f| %>

    <ul>
        <%= f.semantic_fields_for :invitations do |invitation| %>
            <%= invitation.input :guests, :as => :check_boxes, :collection => @invitation_group.guests %>
        <% end %>
    </ul>
    <%= f.actions %>
<% end %>

