<p id="notice"><%= notice %></p>


<%= form_for @invitation_group do |f| %>
    <h1>Please Enter The Guests That Will Be Coming:</h1>
    <ul>
        <%= f.fields_for :guests do |guest_form| %>
            <li>
                <%= guest_form.label :first_name %>
                <%= guest_form.text_field :first_name %>
                <%= guest_form.label :last_name %>
                <%= guest_form.text_field :last_name %>
            </li>
        <% end %>
    </ul>
    <%= f.submit %>
<% end %>

<%= link_to 'Continue To Events Page', "/invitation_groups/show/#{@invitation_group.code}/events", id: :events_page%>