<p id="notice"><%= notice %></p>

<h1>Guests</h1>

<% @invitation_group.invitations.each { |invitation| %>
    <% invitation.guests.each { |guest| %>
        <p> <%= "#{guest.first_name} #{guest.last_name}" %> </p>
    <%}%>
<% } %>

<h1>Events</h1>
<%= "You may add up to #{@invitation_group.max_guests} per event" %>

<% @invitation_group.invitations.each { |invitation| %>
    <% event = invitation.event %>
    <p> <%= "Event: #{event.name} - #{event.time}" %> </p>
<% } %>

<%= form_tag("/invitations/search", method: "get") do %>
    <%= label_tag(:code, "Code:") %>
    <%= text_field_tag(:code) %>
    <%= submit_tag("Lookup") %>
<% end %>

