<nav class="navbar navbar-inverse navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <%= link_to 'Home', root_path, class: 'navbar-brand' %>
                <li><%= link_to 'Save the Date Game', page_path('save_the_date') %></li>
                <li><%= link_to 'A Non Indian\'s Guide to a Hindu Wedding', page_path('non_indian_guide') %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'View Invitation Groups', invitation_groups_path %></li>
                        <li><%= link_to 'View Reminder Emails', reminder_emails_path %></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
